---
// types
import { IAllCharacters } from '@localTypes/characters';
// libs
import { getCharacters } from "src/lib/characters";
// components
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Hero from "@components/Hero.astro";
import CharactersList from '@components/CharactersList.astro';
import SearchCharacter from '@components/react/SearchCharacter';

// code
const { mainCharacters, aliensCharacters }: IAllCharacters = await getCharacters();
---

<Layout title="Astro Rick And Morty">
  <Hero />
	<main class="pt-6 pb-28">
    <Container>
      <div class="pt-96">
        <CharactersList title="Main Characters" items={mainCharacters} />
        <div class="inline-block my-10"></div>
        <CharactersList title="Aliens" items={aliensCharacters} />
      </div>
      <div>
        <SearchCharacter client:visible />
      </div>
    </Container>
	</main>
</Layout>
