---
// types
import { IAllCharacters } from '@localTypes/characters';
// libs
import getCharacters from "src/lib/characters";
// components
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Navbar.astro';
import Container from '@components/Container.astro';
import Hero from "@components/Hero.astro";
import CharactersList from '@components/CharactersList.astro';

// code
const { mainCharacters, aliensCharacters }: IAllCharacters = await getCharacters();
---

<Layout title="Astro Rick And Morty">
  <Navbar />
  <Hero />
	<main class="pt-6 pb-28">
    <Container>
      <div class="pt-96">
        <CharactersList title="Main Characters" items={mainCharacters} />
        <div class="my-10 inline-block"></div>
        <CharactersList title="Aliens" items={aliensCharacters} />
      </div>
    </Container>
	</main>
</Layout>
