---
import Logo from './Logo.astro'
---

<nav class="flex items-center justify-between w-full sticky top-8 bg-black border-accent border rounded-3xl py-5 px-10">
  <a class="uppercase font-mona text-secondary text-2xl tracking-wider hover:text-shadow-accent transition-all duration-400" href=".">Why this project</a>
  <div class="w-48">
    <Logo />
  </div>
  <a class="uppercase font-mona text-secondary text-2xl tracking-wider hover:text-shadow-accent transition-all duration-400" href=".">About - Contact</a>
</nav>
