/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hubot';
  src: url('../fonts/Hubot-Sans-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona';
  src: url('../fonts/Mona-Sans-BoldNarrow.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@layer base {
  html, body {
    @apply text-white bg-black font-hubot;
  }

  svg {
    @apply block h-auto max-w-full;
  }

  img {
    @apply block w-full max-h-full;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-black;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary;
  }
}
